
@{
    ViewBag.Title = "thnank user";
    Layout = "~/Views/Shared/_ViewPage1.cshtml";
}

<h2>Thank You</h2>
<p>Thank you for your application.</p><br />
<p>Your application has been submitted.</p><br />
<p>You will be contacted soon by our team.</p>

